.box {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 897.5px;
  width: 390px;
}

.box p {
  width: 65px;
  height: 20px;
  font-family: NotoSansKR;
  font-size: 14px;
  font-weight: 500;
  color: #7d7d7d;
  margin: 25px 301px 0 24px;
}

.box .answerbox {
  width: 340px;
  height: 120px;
  margin: 18px 20px 10px 20px;
  border-radius: 7px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
