.box {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 897.5px;
  width: 390px;
}

.box p {
  width: 65px;
  height: 20px;
  font-family: NotoSansKR;
  font-size: 14px;
  font-weight: 500;
  color: #7d7d7d;
  margin: 25px 301px 0 24px;
}
