.forme {
  display: flex;
  width: 390px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  margin: 20px 0 50px 0;
}

.forme .profile {
  width: 78px;
  height: 78px;
}
.forme .profile2 {
  width: 78px;
  height: 78px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 50%;
}

.forme .name {
  font-family: NotoSansKR;
  font-size: 15px;
  color: #3d3d3d;
  text-align: center;
  margin: 10px 0;
}

.forme .balloon {
  position: relative;
  background-color: #3b3736;
  color: #fff;
  padding: 8px 30px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
}
.forme .balloon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #3b3736;
  border-top: 0;
  margin-left: -8px;
  margin-top: -8px;
}
