.back2 {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  margin: 36px 0 0 20px;
}
.firstpostbox {
  width: 101px;
  height: 18px;
  margin-top: 1px;
  margin-left: 10px;
}

.share {
  margin-left: 140px;
  object-fit: contain;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
}

.download {
  width: 17px;
  height: 17px;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
}

.first {
  border-bottom: solid 1px #e5e5e5;
  padding-bottom: 28.5px;
}
