.first {
  background-image: url(../../assets/img/background.png);
  width: 390px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-radius: 10px 10px 0 0;
}

.download {
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
}
