.mypost {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.postboxheader {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 30px 0 15px 0;
}
.mypostboxtext {
  display: flex;
  align-items: center;
}
.num {
  margin-left: 5px;
  font-family: NotoSansKR;
  font-size: 16px;
  font-weight: 800;
  color: #686868;
}

.all {
  font-family: NotoSansKR;
  font-size: 14px;
  font-weight: 500;
  background-color: transparent;
  border-color: transparent;
  color: #9a9a9a;
  cursor: pointer;
}
.mypostbox {
  width: 350px;
  height: 262px;
  border-radius: 7px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 100px;
}

.mypostbox button {
  background-color: transparent;
  border-color: transparent;
  width: 51.7px;
  height: 49.1px;
  margin: 0px 29.4px 23.9px 0;
  object-fit: contain;
  cursor: pointer;
}

.logout {
  position: absolute;
  bottom: 0;
  width: 350px;
  height: 59px;
  margin: 15px 0;
  padding: 17px 141px 17px 141px;
  border-radius: 7px;
  border: solid 1px #fd7900;
  background-color: #fff;
  font-family: NotoSansKR;
  font-size: 16px;
  font-weight: 500;
  color: #fd7900;
  cursor: pointer;
}
.nomail {
  padding: 40px 20px 40px 100px;
}
.nomail img {
  width: 150px;
}

.nomail p {
  font-family: NotoSansKR;
  font-size: 16px;
  font-weight: 800;
  color: #686868;
}
