.MyPage {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MyPage_profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 10px solid #efefef;
}
