.header_wrap {
  width: 390px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #e9e9e9;
}
header .goToProfile {
  display: flex;
  align-items: center;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  padding: 0;
}
header .right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
header .progressNum {
  font-weight: 800;
}
header .progress {
  background-color: #fd7900;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}
header .progress::-webkit-progress-bar {
  background-color: #ffffff;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}
header .progress::-webkit-progress-value {
  background-color: #fd7900;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}
header .progress::-moz-progress-bar {
  background-color: #fd7900;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}
