.question {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.question_wrap {
  width: 390px;
  padding: 0 20px;
}

.todayq {
  object-fit: contain;
  font-size: 23px;
  color: #3d3d3d;
}

.qquestion {
  display: flex;
  align-items: center;
  width: 350px;
  height: 48px;
  margin: 10px 0 1px 0;
  border-radius: 7px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding-right: 10px;
}
.qquestion span {
  font-size: 20;
  font-weight: bold;
  margin: 0 10px 0 15px;
}

.qq {
  font-family: NotoSansKR;
  font-size: 14px;
  font-weight: 800;
  color: #3d3d3d;
  line-height: 20px;
}

.answer {
  width: 350px;
  height: 226px;
  margin: 10px 0;
  padding: 15px 15px 0 15px;
  border-radius: 7px;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  font-family: NotoSansKR;
  font-size: 14px;
  font-weight: 800;
  line-height: 1.5;
  color: #3d3d3d;
}

.sendbutton {
  width: 350px;
  height: 59px;
  padding: 15px 100px 19px 100px;
  border-radius: 6px;
  border: none;
  background-color: #fd7900;
  font-family: NotoSansKR;
  font-size: 17px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}
