body {
  background-color: #efefef;
  display: flex;
  height: 970px;
  margin: 0px;
}

.App {
  padding-left: 20px;
  padding-right: 20px;
}

/*Header*/
header {
  height: 85.5px;
  display: flex;
  align-items: center;
}

header > div {
  display: flex;
}

header .left {
  justify-content: start;
}

header .right {
  justify-content: end; /*오른쪽 정렬*/
}

/*Calender*/
